<app-header [title]="newTitle"> </app-header>

<!-- <app-home></app-home>
<app-login></app-login> -->

<router-outlet></router-outlet>


<!-- property binding -->
<!-- <app-exercicio-data-bind
  [palavra]="newWord"
  [color]="newColor"
  (clicado)="eventoRecebido($event)">
</app-exercicio-data-bind> -->
<!-- property binding -->

<!-- <app-exercicio-diretivas></app-exercicio-diretivas> -->

<!-- <app-exercicio-ngclass></app-exercicio-ngclass> -->

<!-- <app-exercicio-pipes></app-exercicio-pipes> -->



<app-footer></app-footer>

<!-- property binding - envia info 
event binding - recebe info  -->











<!-- ng serve to run the app -->